http:
#  middlewares:
    # ForwardAuth中间件
    tymoe-auth-gate:
      forwardAuth:
        address: "http://172.24.0.1:8080/api/auth-service/v1/auth/gateway-check"
        trustForwardHeader: true
        authResponseHeaders:
          - "X-User-Id"
          - "X-User-Type"
          - "X-User-Role"
          - "X-Org-Id"
          - "X-Org-Name"
          - "X-Device-Id"

  routers:
    auth-service-router:
      rule: "PathPrefix(`/api/auth-service`)"
      service: auth-service-test
      entryPoints:
        - web
      # 暂时禁用中间件验证转发
#      # middlewares:
#      #   - tymoe-auth-gate
    
    subscription-service-router:
      rule: "PathPrefix(`/api/subscription-service`)"
      service: subscription-service-test
      entryPoints:
        - web
      # 暂时禁用中间件验证转发
#      # middlewares:
#      #   - tymoe-auth-gate

  services:
    auth-service-test:
      loadBalancer:
        servers:
          - url: "http://172.24.0.1:8080"
    
    subscription-service-test:
      loadBalancer:
        servers:
          - url: "http://172.24.0.1:8088"
